---
layout: ghostscroll
title: Happy Valley - Learn Node.js Workshop
---
<header id="site-head" {% if page.cover %}style="background-image: url({{ page.cover }})"{% endif %}>
    <div class="vertical">
        <div id="site-head-content" class="inner">

            {% if page.logo %}<a id="blog-logo" href="{{ page.logo }}"><img src="{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            <h1 class="blog-title">{{ page.title }}</h1>
            <h2 class="blog-description">{{ site.description }}</h2>

            <a class='btn first'>Take a tour</a>
            <a class='btn last'>Cut to the chase</a><br>
            <i id='header-arrow' class="fa fa-angle-down"></i>
        </div>
    </div>
</header>

<main class="content" role="main">
    <div class='fixed-nav'></div>

    {% for post in site.ghostscrolls %}
    <div class='post-holder'>
            {% if forLoop.first %}
                <article class="post first">
            {% elseif forLoop.last %}
                <article class="post last">
            {% else %}
                <article class="post">
            {% endif %}
        
            <header class="post-header">                
                <h2 class="post-title">{{ post.title }}</h2>
            </header>
            <section class="post-content">
                <p>{{ post.content }}</p>
            </section>
        </article>
        <div class='post-after'></div>
    </div>
    {% endfor %}
</main>