---
layout: ghostcrollpost
title: Learn you the Node.js for much Win!
first: true
---
<p><center><strong>nodeschool is a P2P learning event</strong></center></p>
<p><strong>What</strong> - We're hosting a <a href="http://nodeschool.io">nodeschool.io</a> workshop.</p>
<p><strong>When</strong> - On April 1st, 2014 from 5:00 PM to 10:00 PM</p>
<p><strong>Where</strong> - In the <a href="http://newleafinitiative.org">New Leaf Initiative</a> co-working space.</p>
<p><strong>Why</strong> - You can Node if you want to, you can leave your friends <a href="http://www.youtube.com/watch?v=2HWCBmUqB9o">behind</a>.</p>
<p><strong>Who</strong> - We're just some Node enthusiasts and want to share the async love!</p>
<p><img src="https://raw.github.com/rvagg/learnyounode/master/learnyounode.png" alt="nodeschool.io"/></p>
<p><center> </p>
<h3 id="spaceislimitedreserveyourseathttpstitohvnodeschoolworkshoptoday">Space is limited, <a href="https://ti.to/hvnodeschool/workshop">reserve your seat</a> today.</h3>
<p></center></p></center></p>