---
layout: ghostcrollpost
title: What the h3ll is Node?
---
<p>FTA: <a href="http://www.toptal.com/nodejs/why-the-hell-would-i-use-node-js">Why use Node?</a></p>
<pre><code>As Wikipedia states: “Node.js is a packaged compilation of Google’s V8 JavaScript engine, the libuv platform abstraction layer, and a core library, which is itself primarily written in JavaScript.” Beyond that, it’s worth noting that Ryan Dahl, the creator of Node.js, was aiming to create real-time websites with push capability, “inspired by applications like Gmail”. In Node.js, he gave developers a tool for working in the non-blocking, event-driven I/O paradigm.
</code></pre>
<p><img src="http://www.toptal.com/uploads/blog/image/50/toptal-blog-1_B.png" alt="Node Event Loop"/></p>