---
layout: ghostcrollpost
title: What's the workshop like?
---
<p><strong>The Plan</strong></p>
<ol>
<li><p>We'll be getting started at 5:00 PM and running until 10:00 PM (or until we get kicked out!). </p></li>
<li><p>We'll spend the first half hour to an hour getting acquainted with Node, including installing and getting everything setup. </p></li>
<li><p>Next, we'll spend an hour and a half running through the <a href="http://nodeschool.io">nodeschool.io</a> choose-your-own-adventure style lessons.</p></li>
<li><p>We'll take a break somewhere in the middle and demonstrate some cool things that people are doing with Node while eating some pizza and getting high on high-fructose corn syrup. </p></li>
<li><p>Then we'll jump back into our lessons for an hour or so and finish up with some socializing and bar-tour planning.</p></li>
</ol>