---
layout: ghostcrollpost
title: We're looking for a few good humans.
---
<p>If you've completed a few of the nodeschool.io lessons, or if you've got a little bit of Node experience, we could use your experience to help mentor our workshop attendees. </p>
<p><strong>Why be a Mentor?</strong></p>
<p>For the <a href="https://d22d7v2y1t140g.cloudfront.net/m_564661_DarjQ2su8nuw.jpg">glory</a>. Need we say more? </p>
<p>As a mentor, you will help aspiring Node.js neophytes become proficient enough to build the next $19 billion facebook assimilation target. Think of the praise and adoration from your friends and family!</p>
<p><strong>Happy Valley NodeSchool Needs you!</strong></p>
<p><a href="http://ti.to/hvnodeschool/workshop/">See a recruiter today</a>. </p>