---
layout: ghostcrollpost
title: In the news
---
<p>Here are some links to recent Node.js news on the intarwebs:</p>
<p><a href="http://www.infoworld.com/t/javascript/paypal-and-netflix-cozy-nodejs-237593">PayPal and Netflix cozy up to Node.js</a> </p>
<p><strong>FTA</strong></p>
<pre><code>Move over, Java. Node.js is coming through.

Node.js advocates at a recent event at PayPal's Silicon Valley offices told how they are moving over to Node.js, the server-side version of JavaScript, at Java's expense. In this case, major Web properties PayPal and Netflix are cozying up to Node.js.

Netflix is looking to move its website UI from Java to Node.js. "We're hoping to migrate all of that as soon as we can," said Alex Liu, a Node.js developer on the Netflix website team.
</code></pre>